html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* This makes the main content take up all remaining space */
    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.container {
    display: flex;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
