<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EdTech</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  {%include'Navbar.html'%}

  <section>
    <div>
        <h1>Welcome to EdTech!</h1>
        <h3>We're thrilled to have you here <br>Explore our resources and enjoy your visit</h3>
    </div>
    <div>
        <img src="download.jpeg" alt="">
    </div>
  </section>
  <section>
    <div>
        <h3>Hi, I am Pendo!</h3>
        <p>I will be your guide <br>I'm here to help you <br> navigate and enjoy our content. <br>Let's explore together</p>
        <button>Explore</button>
    </div>
    <div>
        <img src="avatar.jpeg" alt="">
    </div>
  </section>
</body>
</html>
