
{% extends 'base.html' %}
{% load static %}                
    
{% block body %}


    <section style="background-color: rgb(239, 239, 160);">
         <div class="container"> 
    
            <div class="row"> 
                <div class="col-md-6">
                    <h1 style="align-content: center; padding-left: 10%;">Welcome to EduSign</h1>

                    <br>
                    <h3 style="padding-left: 10%;"> <i> Sign Language for Inclusive Learning </i> </h3>
                    <!-- <h3>We're thrilled to have you here <br>Explore our resources and enjoy your visit</h3> -->
                    <br> 
                    <p style="padding: 10%;">EduSign is a groundbreaking initiative dedicated to creating a more inclusive world for 
                        the deaf and hard-of-hearing community. We use advanced video processing and machine learning 
                        algorithms to translate spoken language and captions into sign language, 
                        ensuring that no one is left out of the conversation.</p>
                        <br> <br>

                </div>
                <div class="col-md-6">
                    <br> <br>
                    <img src="{% static 'Images/welcome.gif' %}" alt="" style="padding: 10%;">
                    
                   
                </div>
            </div>
         </div>
    </section>

    <section style="background-color:lightblue;">
        <div class="container"> 
            <div class="row" style="background-color:lightblue;"> 
                <div class="col-md-6">

                    <!-- We can replace this with a video giff -->

                    <img src="{% static 'Images/say_hello.gif' %}" alt="" style="width: 250px; height: 200px; padding-top: 10px;">
                    <br> <br>
                    <h3>Hi, I am Pendo!</h3> 
                    <p>I will be your guide <br>I'm here to help you <br> navigate and enjoy our content. <br>Let's explore together</p>
                    <br> <br>
                </div>
                <div class="col-md-6">
                  
                    <h3>Here is how it works</h3>
                    <p style=" align-content: center;">Video Processing: Our system analyzes video content, identifying spoken language and corresponding captions. <br> <br>
                        Machine Learning: Our well trained model translates this information into accurate sign language. <br> <br>
                        Sign Language Output: The translated sign language is then displayed, ensuring that deaf and hard-of-hearing individuals can fully understand the content.
                        </p>
                        <br> <br> 
                    <button class="btn btn-success" style="align-content: center;">Explore</button>
                </div>
            </div>
         </div> 
    </section>

    {% endblock %}

