<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EdTech</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <!-- {% load static %} -->
	<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->
    <link rel="stylesheet" href="../static/css/bootstrap.css"> 
</head>
<body>
  <!-- {%include'Navbar.html'%} -->

  {% extends 'Navbar.html' %}
  {% load static %} 

  {%  block body %}

  <section style="background-color:rgb(236, 236, 6);">
    <div class="container">
      <div class="row"> 
        <div class="col-md-8">
            <h1>Welcome to EdTech!</h1>
            <h3>We're thrilled to have you here <br>Explore our resources and enjoy your visit</h3>
        </div>
        <div class="col-md-4">
          <!-- <img src="{% static 'img/projects/remodeling-1.jpg'%}" alt=""> -->

          <!-- <img src="{% static 'Images/download.jpeg'%}" alt=""> -->
          <img src="../static/Images/download.jpeg" alt="">
          <!-- <img src="download.jpeg" alt=""> -->
        </div>
      </div>
    </div>


  </section>
  <section style="background-color:lightblue;">
    <div class="container">
       <div class="row"> 
        <div class="col-md-4">

            <!-- <img src="{% static 'Images/avatar.jpeg'%}" alt=""> -->
            <img src="../static/Images/download (1).jpeg" alt="">

            <!-- <img src="avatar.jpeg" alt=""> -->
          </div>
          <div class="col-md-8">
              <h3>Hi, I am Pendo!</h3>
              <p>I will be your guide <br>I'm here to help you <br> navigate and enjoy our content. <br>Let's explore together</p>
              <button>Explore</button>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}

  <!-- {%include'footer.html'%} -->
  {% extends 'footer.html' %}

</body>
</html>
